[class*="display-"],
.lead {
  font-weight: 600 !important;
}

label {
  font-weight: 600;
  cursor: pointer;
}

.form-control {

  &::placeholder {
    color: #ffffffab !important;
  }

  &,
  &:hover,
  &:focus {
    box-shadow: none !important;
    border: .1rem solid #888 !important;
    background: transparent !important;
    color: #888 !important;
    resize: none;
  }
}

textarea.form-control {

  &,
  &:hover,
  &:focus {
    border: .1rem solid #222 !important;
    background: transparent !important;
    color: #222 !important;
    min-height: 10rem !important;
    line-height: 1.8;
    font-size: .8rem;
    letter-spacing: .1rem;
  }
}

body {
  overflow-x: hidden;
}

a {

  &,
  &:hover,
  &:focus {
    color: inherit !important;
    text-decoration: none !important;
  }
}

th,
td {
  white-space: nowrap;
  padding: 1rem !important;
}

.icon {
  cursor: pointer;
}